.card-img-top{
    width: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.contenedorNav{
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end !important;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100% !important;
    order: 2;
}

.search{
    order: 1;
}

.perifericosPro{
    position: relative;
    height: 200px;
    width: 450px;
    display: flex;
    align-items: center;
    background-image: url(../images/keyboard1.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(20% 0%, 100% 0, 84% 100%, 0 100%);
}

.filtro{
    backdrop-filter: brightness(50%);
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(20% 0%, 100% 0, 84% 100%, 0 100%);
    z-index: 99;
}

.perifericos{
    position: absolute;
    left: 10px;
    z-index: 100;
    padding: 50px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.marcas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo1{
    width: 10%;
}

.logo2{
    width: 100%;
}

.nav-link{
    color: white !important;
    text-align: center;
}

.carousel-item{
    height: 650px;
}

.imagenCarousel{
    width: 100%;
    height: 100%;
}

.imgRel{
  position: relative;
  z-index: 0;
}

#products{
  height: 600px;
  display: flex;
  flex-flow: row wrap;
}

.boton{
  position: absolute;
  right: 350px;
  top: 400px;
  z-index: 1;
  width: 250px;
}

.items{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: center;
  width: 90px;
  height: 160px;
  margin: 20px;
}

.flex{
  display: flex;
  gap: 10px;
  box-sizing:content-box
}

.elCarro{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  background-color: aqua;
}

.aumentarDisminuir{
  display: flex;
  flex-flow: column wrap;
  border: 1px solid gray;
}

.intBoton{
  font-family: Calibri;
  font-size: 17px;
}

.gridCont{
    display: flex;
    justify-content: center;
}

.gridMarcas {  display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 40px;
    grid-auto-flow: row;
    grid-template-areas:
    "razer redragon nisuta t-dagger vsg"
    ". logitech corsair hiperx .";
  }

.razer { grid-area: razer;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .redragon { grid-area: redragon; 
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .nisuta { grid-area: nisuta; 
    width: 120px;
    height: 120px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .t-dagger { grid-area: t-dagger; 
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .vsg { grid-area: vsg; 
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .logitech { grid-area: logitech; 
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .corsair { grid-area: corsair; 
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .hiperx { grid-area: hiperx; 
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

.contenedorPC{
    height: 350px;
}

.redes{
    list-style: none;
}

.contenedorPC{
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}

h1{ 
  display: inline-block;
  width: 100%;
  text-align: center;
}

.carousel-alignment{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slideItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: 1px solid black;
    height: 380px;
    transition: 0.2s;
    text-decoration: none;
    width: 280px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(60%);
  width: 100%;
  height: 105%;
}

.mo{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/PC/logitech-g-pro-x-superlight-g692f974c6_1280.jpg);
  background-position: center;
  background-size: cover;
}

.au{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/PC/fortnite-g177f141ed_1280.jpg);
  background-position: center;
  background-size: cover;
}

.te{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/PC/keyboard-gc86b86275_1280.jpg);
  background-position: center;
  background-size: cover;
}

.pa{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.5)), url(./images/PC/led_mouse_pad_mockup_with_mouse.jpg);
  background-position: center;
  background-size: cover;
}

.caw{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.5)), url(./images/PC/waldemar-brandt-VAoSKP_ocN0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.mod{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.5)), url(./images/PC/modem-g10e1e597c_1280.jpg);
  background-position: center;
  background-size: cover;
}

.pen{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.5)), url(./images/PC/powerful-external-battery-with-usb-wire.jpg);
  background-position: center;
  background-size: cover;
}

.todo{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/gamer2.jpg);
  background-position: center;
  background-size: cover;
}

.jo{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/Consola/controller-gaaf902d63_1280.jpg);
  background-position: center;
  background-size: cover;
}

.com{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/Consola/triyansh-gill-DYDIF2OuavM-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.aur{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/Consola/hello-i-m-nik-Gr7Bsolw5EU-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.cov{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.2)), url(./images/Consola/fabio-silva-nmTm7knUnqs-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.ccam{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.2)), url(./images/Consola/sam-pak-X6QffKLwyoQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.mem{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.2)), url(./images/Consola/computer-accessories-gaaeb3b621_1280.jpg);
  background-position: center;
  background-size: cover;
}

.todoCons{
  background:linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.3)), url(./images/joystick-xbox1.jpg);
  background-position: center;
  background-size: cover;
}

.inner-prod-width{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.owl-carousel{
  width: 90%;
}

.linkTodo{
  text-decoration: none;
  transition: 0.4s;
}

.linkTodo:hover{
  transition: 0.5s;
  color: aqua;
}

/* .slideItem:hover{
    color: aqua;
    transition: 0.3s;
    width: 15%;
    flex: none
} */

.slideItemPC{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(59, 59, 59);
    color: white;
    border: 3px solid black;
    width: 200%;
    height: 300px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-form {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn-form:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


@media (min-width:576px) and (max-width: 1000px) {
  .gridMarcas{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .boton{
    position: absolute;
    right: 250px;
    top: 400px;
    z-index: 1;
    width: 250px;
  }

}

@media (max-width: 575px) {
  .gridMarcas{
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;
  }
  .boton{
    position: absolute;
    right: 150px;
    top: 400px;
    z-index: 1;
    width: 200px;
  }
}